[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
pandera = "*"
osmnx = "*"
geopy = "*"

[dev-packages]
jupyter = "*"
matplotlib = "*"
seaborn = "*"
geopandas = "*"
contextily = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
